# Ignore node_modules and build artifacts in all projects
**/node_modules/
**/bin/
**/obj/
**/.angular/

# Ignore build artifacts in specific projects
/project-a/dist/
/project-b/build/

# Ignore editor-specific files
.vscode/
.idea/